/************Txt Colour**********/
:root{

  --c: #B4AEE8;



}

/************************************/
img:hover {
  background-color: red;

}


body {
  background-color: #52057B;
}

hr {
  border-color: #F8EFD4;
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;
  width: 2%
}

h1 {
  color: #FECD1A;
}

h2{
  color: #D7385E;

}

h3 {
  color:var(--c);
}

h4{
  color:var(--c);

}


a {
  color:var(--c);
  border-width: 5%;
}

p {
color:var(--c);
}

ol {
color:var(--c);
}

ul {
color:var(--c);
}
label{

  color:var(--c);
}
a:hover{

  background-color: red;
}

h1:hover{

  background-color: #EE8572;
}



/*****************Class's*******************/

.circular {
    border-radius: 100%;
}

.Werk{
  color: #66BFBF;

}

.cnt{

color: #00B7C2

}
