/*******************DIVS*********************/
.Upper {
  background-image: url(../Images/cool2.gif);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 100px;

}

.middle-container {

  background-color: #4D375D;

}

.bottom-container {

  background-color: #3B185F;
  margin-bottom: 0;
}
.skills{

  background-color: #FF4B5C;

}
.skill-row {


  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.Contact_body{
  background-color: #3B185F;
  text-align: center;

}

.profile{
  margin-top: 0;
  background-color: #4D375D;

}
.filler{
  background-color: #3B185F;
  height: 20px;

}

/**********************************************/
a{
  color: #F1FA3C;
}
head {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  color: #29C7AC;
  margin: 50px auto 0px auto;
  font-size: 5.63rem;
  font-family: 'Sacramento', cursive;
}

h2 {
  color: #29C7AC;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

.title_h2{

  padding-bottom: 100px;
  margin-bottom: 0;
}

h3 {
  color: #88E1F2;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  border-color: #16C79A;
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;
  margin-top: 0;
  width: 4%
}

p {
  color: #F8EFD4;
  font-size: 1em;
}
.p1{

  margin-bottom: 0;

}



.My_pic {
  border-radius: 100%;
}

.C {
  border-radius: 100%;
  width: 10%;
  padding-right: 20px;
}


.java {
  border-radius: 100%;
  width: 10%;
}

.C{
  width: 25%;
float: left;

}
.java{
  width: 20%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #152e94;
  background-image: -webkit-linear-gradient(top, #152e94, #2980b9);
  background-image: -moz-linear-gradient(top, #152e94, #2980b9);
  background-image: -ms-linear-gradient(top, #152e94, #2980b9);
  background-image: -o-linear-gradient(top, #152e94, #2980b9);
  background-image: linear-gradient(to bottom, #152e94, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #76e336;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

br{
  background-color: #4D375D;

}
.My_pic{
  border-radius: 50%;
  padding-top: 20px;
}
